.title {
  font-size: 48px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.large {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.large-bold {
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.text-body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.text-body-bold {
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.text-caption {
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
