* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.welcome {
  background: url("../componentes/images/background-welcome.png") no-repeat
    center center/cover;
  height: 616px;
}

.welcome__container-content {
  margin: 159px 0 259px 0;
}

.welcome__title {
  text-align: center;
  color: #ffffff;
}

.welcome__subtitle {
  text-align: center;
  color: #ffffff;
}

.main {
  height: 538px;
  background-color: #141414;
  overflow: auto;
}

@media (min-width: 960px) {
  .main {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main__container-content {
  max-width: 312px;
  margin: 55px auto;
}

@media (min-width: 960px) {
  .main__container-content {
    max-width: 610px;
    height: 290px;
    margin: 0;
  }
}

.main__image {
  display: none;
}

@media (min-width: 960px) {
  .main__image {
    display: inherit;
    align-self: flex-end;
  }
}

.main__content-title {
  margin-bottom: 46px;
  color: #fafafa;
  text-align: center;
}

@media (min-width: 960px) {
  .main__content-title {
    color: #2c2c2c;
    text-align: left;
  }
}

.main__content-text {
  color: #fafafa;
}

@media (min-width: 960px) {
  .main__content-text {
    color: #2c2c2c;
    font-size: 20px;
  }
}

.services {
  background-color: #fafafa;
  overflow: auto;
}

.services__container {
}

@media (min-width: 960px) {
  .services__container {
    display: flex;
  }
}

.services__title {
  color: #2c2c2c;
  text-align: center;
  margin: 70px 0 44px 0;
}

.services__item {
  height: auto;
  max-width: 271px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.services__item-container-img {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.services__item-img {
}

.services__item-title {
  color: #2c2c2c;
  text-align: center;
}

.services__item-description {
  color: #2c2c2c;
  text-align: center;
}

.form__section {
  background-color: #141414;
  overflow: auto;
  min-height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 960px) {
  .form__section {
    flex-direction: row;
  }
}

.form__title {
  color: #fafafa;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (min-width: 960px) {
  .form__title {
    align-self: flex-start;
    margin-top: 116px;
    margin-right: 77px;
    font-size: 48px;
  }
}
